.navbar-brand {
    margin-right: 10px;
}
.navbar-brand + span {
    margin-right: 10px;
}
.navbar-brand + span.rtl {
    margin-left: 10px;
}
#mainNav .navbar-brand:hover, #mainNav .navbar-brand:active {
    color: #c70514;
}
.bg-light {
    position: relative;
    z-index: 1;
}
main .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../assets/img/bg-min-3.webp) center center;
    opacity: 0.02;
}
.calendar .months-container .month-container {
    padding-bottom: 14px;
}
.calendar .calendar-header table th:hover {
    background: none;
}
.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #a80000, #0b6500) !important;
}
.accordion-button.me-auto::after {
    margin-right: auto;
    margin-left: 0;
}
p.lead time {
    font-weight: 600;
}
.card-title a {
    text-decoration: none;
}
img.card-img-top {
    height: auto;
    width: 100%;
}