{%- assign todayDate = 'now' | date: '%s' -%}
{%- assign feries = site.feries | where:"lang",page.lang | sort: "startDate" -%}
{%- for year in include.years -%}
    <div class="holidays-cards d-none{% if forloop.first %}{% endif %}" id="holidays_{{ year }}">
        <h2 class="gy-4 g-4">
            {%- if page.lang == 'fr' -%}
                Les des fêtes nationales, religieuses et jours fériés au Maroc {{ year }}
            {%- endif -%}
            {%- if page.lang == 'en' -%} 
                National, religious and public holidays in Morocco {{ year }}
            {%- endif -%}
            {%- if page.lang == 'ar' -%}
            العطل الوطنية والأعياد الدينية والرسمية في المغرب {{ year }}
            {%- endif -%}
        </h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {%- for item in feries -%}
                {%- if item.path contains year -%}
                    {%- if item.visible_in_holidays_accordion == false -%}
                    {%- else -%}
                        <div class="col">
                            <div class="card h-100">
                                {%- capture imgAlt -%}
                                    {{ item.title }} - {{ site.countries['ma'][page.lang] }} - {{ item.startDate | date: '%Y' }}
                                {%- endcapture -%}

                                {%- if item.image -%}
                                    {%- for static_file in site.static_files -%}
                                        {%- if static_file.path contains item.image -%}
                                            {%- picture cardcover "{{ static_file.path }}" --alt {{ imgAlt }} -%}
                                        {%- endif -%}
                                    {%- endfor -%}
                                {%- else -%}
                                    {%- for static_file in site.static_files -%}
                                        {%- assign imgPath = item.slug | append: '.'  | append: item.lang | append: '.webp' -%}
                                        {%- if static_file.path contains imgPath -%}
                                            {%- capture imgTag -%}
                                                {%- picture cardcover "{{ static_file.path }}" --alt {{ imgAlt }} -%}
                                            {%- endcapture -%}
                                        {%- endif -%}
                                    {%- endfor -%}

                                    {%- if imgTag != nil -%}
                                        {{- imgTag -}}
                                        {%- assign imgTag = nil -%}
                                    {%- else -%}
                                        {%- for static_file in site.static_files -%}
                                            {% assign imgPath = item.slug | append: '.webp' %}
                                            {%- if static_file.path contains imgPath -%}
                                                {%- picture cardcover "{{ static_file.path }}" --alt {{ imgAlt }} -%}
                                            {%- endif -%}
                                        {%- endfor -%}
                                    {%- endif -%}
                                {%- endif -%}
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{{ item.url }}" title="{{ item.title }} {{ item.endDate | date: '%Y' }}" class="link-dark">
                                            {{- item.title | remove: '-' | strip -}}
                                        </a>
                                        {%- assign startDate = item.startDate | date: '%s' -%}
                                        {%- if startDate > todayDate -%}
                                            <i class="bi bi-hourglass-top ms-2 me-2 opacity-50"></i>
                                        {%- else -%}
                                            <i class="bi bi-check ms-2 me-2 opacity-50"></i>
                                        {%- endif -%}
                                    </h5>
                                    <p class="card-text">
                                        <span class="badge bg-success">
                                            {%- if page.lang == 'fr' -%}
                                                {% if item.startDate != item.endDate %}Début: {% endif %}<time datetime="{{ item.startDate }}">{{ item.startDate | date: "%d / %m / %Y" }}</time>
                                            {%- endif -%}
                                            {%- if page.lang == 'en' -%}
                                                {% if item.startDate != item.endDate %}From: {% endif %}<time datetime="{{ item.startDate }}">{{ item.startDate | date: "%b %d, %Y" }}</time>
                                            {%- endif -%}
                                            {%- if page.lang == 'ar' -%}
                                                {% if item.startDate != item.endDate %}من: {% endif %}<time datetime="{{ item.startDate }}">{{ item.startDate | date: "%d / %m / %Y" }}</time>
                                            {%- endif -%}
                                        </span>
                                        {% if item.startDate != item.endDate -%}
                                            <span class="badge bg-dark">
                                                {%- if page.lang == 'fr' -%}
                                                    Fin: <time datetime="{{ item.endDate }}">{{ item.endDate | date: "%d / %m / %Y" }}</time>
                                                {%- endif -%}
                                                {%- if page.lang == 'en' -%}
                                                    To: <time datetime="{{ item.endDate }}">{{ item.endDate | date: "%b %d, %Y" }}</time>
                                                {%- endif -%}
                                                {%- if page.lang == 'ar' -%}
                                                    إلى: <time datetime="{{ item.endDate }}">{{ item.endDate | date: "%d / %m / %Y" }}</time>
                                                {%- endif -%}
                                            </span>
                                        {% endif -%}
                                        <p>
                                            {{ item.description }}
                                            <small>
                                                {%- if page.lang == 'fr' -%}
                                                        Lire plus sur cette 
                                                    {% endif -%}
                                                    {%- if page.lang == 'en' -%}
                                                        Read more on this 
                                                    {% endif -%}
                                                    {%- if page.lang == 'ar' -%}
                                                        إقرأ المزيد في هذه 
                                                    {% endif -%}
                                                <a href="{{ item.url }}" title="{{ item.title }} {{ item.endDate | date: '%Y' }}" class="">
                                                    {%- if page.lang == 'fr' -%}
                                                        article 
                                                    {%- endif -%}
                                                    {%- if page.lang == 'en' -%}
                                                        article 
                                                    {%- endif -%}
                                                    {%- if page.lang == 'ar' -%}
                                                        المقالة 
                                                    {%- endif -%}
                                                </a>
                                            </small>
                                        </p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
{%- endfor -%}