<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <p>
            <h1 class="titre gy-4 g-4">Calendrier des jours fériés pour <a href="/fr/feries/2024/" title="Calendrier des jours fériés au Maroc 2024, liste des fêtes nationales et religieuses." class="link-dark">2024</a> / <a href="/fr/feries/2025/" title="Calendrier des jours fériés au Maroc 2025, liste des fêtes nationales et religieuses." class="link-dark">2025</a> au Maroc</h1>
        </p>
        <div data-provide="calendar" class="calendar"></div>
    </div>
    <hr>

    {%- include holidays_cardgroup.html include_holidays_accordion=page.include_holidays_accordion years=page.holidays_years -%}
</div>
