<!DOCTYPE html>
<html lang="{{ page.lang }}"{%- if page.lang == 'ar' %} dir="rtl"{%- endif -%}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{%- if page.description -%}{{ page.description }}{%- else -%}{{ site.description[page.lang] }}{%- endif -%}" />
        <meta name="author" content="" />
        <meta name="yandex-verification" content="1eac0ebc70806899" />
        <title>
            {%- if page.url == '/ar/' -%}
                {{ site.name }} | {{ site.title[page.lang] }}
            {%- elsif page.url == '/' or page.url == '/fr/' or page.url == '/en/' -%}
                {{ site.title[page.lang] }} | {{ site.name }}
            {%- else -%}                
                {%- if page.lang == 'ar' -%}
                    {{ site.name }} - {{ site.countries['ma'][page.lang] }}: {{ page.title }}{%- if page.startDate %} {{ page.startDate | date: '%Y' }}{%- endif %}
                {%- else -%}
                {{ site.countries['ma'][page.lang] }}: {{ page.title }}{%- if page.startDate %} {{ page.startDate | date: '%Y' }}{%- endif %} - {{ site.name }}
                {%- endif -%}
            {%- endif -%}
        </title>
        <link rel="preconnect" href="//cdn.jsdelivr.net" crossorigin>
        <link rel="preconnect" href="//unpkg.com" crossorigin>
        <link rel="preconnect" href="//fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="//www.googletagmanager.com" crossorigin>
        <link rel="preconnect" href="//cdnjs.cloudflare.com" crossorigin>
        <link rel="preconnect" href="//cdn.jsdelivr.net" crossorigin>
        <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>

        <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" as="style" />
        <link rel="preload" href="https://unpkg.com/js-year-calendar@2.0.0/dist/js-year-calendar.min.css" as="style" />
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" as="style" />
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" as="style" />
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" as="style" />
        <link rel="preload" href="/css/styles.css" as="style" />
        <link rel="preload" href="/css/styles-bis.css" as="style" />
        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" as="script" />
        <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" as="script" />
        <link rel="preload" href="https://unpkg.com/js-year-calendar@2.0.0/dist/js-year-calendar.min.js" as="script" />
        
        {%- if page.lang != 'en' -%}
            <link rel="preload" href="/js/js-year-calendar.{{ page.lang }}.js" as="script" />
        {%- endif -%}

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🇲🇦</text></svg>">
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">
        <meta property="og:locale" content="{{ site.locales[page.lang] }}">
        <meta property="og:title" content="
            {%- if page.url == '/ar/' -%}
                {{ site.name }} | {{ site.title[page.lang] }}
            {%- elsif page.url == '/' or page.url == '/fr/' or page.url == '/en/' -%}
                {{ site.title[page.lang] }} | {{ site.name }}
            {%- else -%}
                {%- if page.lang == 'ar' -%}
                    {{ site.name }} - {{ page.title }}{%- if page.startDate %} {{ page.startDate | date: '%Y' }}{%- endif %}
                {%- else -%}
                    {{ page.title }}{%- if page.startDate %} {{ page.startDate | date: '%Y' }}{%- endif %} - {{ site.name }}
                {%- endif -%}
            {%- endif -%}
        ">
        <meta property="og:description" content="{%- if page.description -%}{{ page.description }}{%- else -%}{{ site.description[page.lang] }}{%- endif -%}">
        {%- for static_file in site.static_files -%}
            {%- if static_file.path contains page.slug -%}
                <meta property="og:image" content="{{ site.url }}{{ static_file.path }}" />
                <link rel="preload" href="{{ site.url }}{{ static_file.path }}" as="image" />
            {%- endif -%}
        {%- endfor -%}
        
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:site_name" content="{{ site.slogan[page.lang] }} - {{ site.name }}">
        
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://unpkg.com/js-year-calendar@2.0.0/dist/js-year-calendar.min.css" rel="stylesheet" />
        
        <!-- Google fonts-->
        
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="/css/styles-bis.css" rel="stylesheet" />
        {%- if jekyll.environment != "development" -%}
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-E1ZP7C5QDY"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-E1ZP7C5QDY');
            </script>
        {%- endif -%}
    </head>
    <body id="page-top" class="d-flex flex-column min-vh-100 bg-light">
        {%- include navigation.html -%}
        
        <main role="main" class="flex-shrink-0">
            <div class="bg"></div>
            <section>
                {{- content -}}
            </section>
        </main>
            
        {%- include footer.html -%}
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
        <script src="https://unpkg.com/js-year-calendar@2.0.0/dist/js-year-calendar.min.js" defer></script>
        {%- if page.lang != 'en' -%}
            <script src="/js/js-year-calendar.{{ page.lang }}.js" defer></script>
        {%- endif -%}

        <script>
            const holidays = [
                {%- assign feries = site.feries | where:"lang",page.lang -%}
                {%- for year in page.holidays_years -%}
                    {%- for item in feries -%}
                        {%- if item.path contains year -%}
                            {%- assign publicEndDate = '""' -%}
                            {%- assign privateEndDate = '""' -%}
                
                            {%- if item.publicEndDate -%}
                                {%- assign publicEndDate = "new Date('" | append: item.publicEndDate | append: "')" -%}
                            {%- endif -%}
                
                            {%- if item.privateEndDate -%}
                                {%- assign privateEndDate = "new Date('" | append: item.privateEndDate | append: "')" -%}
                            {%- endif -%}
                
                            {"startDate": new Date('{{ item.startDate }}'), "endDate": new Date('{{ item.endDate }}'), "privateEndDate": {{ privateEndDate }}, "publicEndDate": {{ publicEndDate }}, "name": "{{ item.title }}", "description": "{{ item.description }}", "url": "{{ item.url }}"}
                            {%- unless forloop.last -%},{%- endunless -%}
                        {%- endif -%}
                    {%- endfor -%}
                {%- endfor -%}
            ];

            {%- if page.holidays_years -%}
                const calendarDisplayHeader = {% if page.holidays_years.size > 1 %}true{% else %}false{%- endif -%};
                const calendarYear = {{ page.holidays_years[0] }};
            {%- endif -%}
        </script>
        
        <!-- Core theme JS-->
        <script src="/js/scripts.js" defer></script>
    </body>
</html>
