---
layout: default
---
<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12">
            <h1 class="bd-title mt-5" id="content">{{ site.countries['ma'][page.lang] }}: {{ page.title }} {{ page.startDate | date: '%Y' }}</h1>
            <p class="lead mb-4">
                {%- if page.lang == 'fr' -%}
                    <span>
                        {%- if page.startDate != page.endDate -%}Début: {% endif -%}<time datetime="{{ page.startDate }}">{{ page.startDate | date: "%d / %m / %Y" }}</time>
                    </span>
                {%- endif -%}
                {%- if page.lang == 'en' -%}
                    <span>
                        {%- if page.startDate != page.endDate -%}From: {% endif -%}<time datetime="{{ page.startDate }}">{{ page.startDate | date: "%B %d, %Y" }}</time>
                    </span>
                {%- endif -%}
                {%- if page.lang == 'ar' -%}
                    <span>
                        {%- if page.startDate != page.endDate -%}من: {% endif -%}<time datetime="{{ page.startDate }}">{{ page.startDate | date: "%d / %m / %Y" }}</time>
                    </span>
                {%- endif -%}
                
                {%- if page.startDate != page.endDate -%}
                    {%- if page.lang == 'fr' -%}
                        <span style="margin-left: 15px;">Fin: <time datetime="{{ page.endDate }}">{{ page.endDate | date: "%d / %m / %Y" }}</time></span>
                    {%- endif -%}
                    {%- if page.lang == 'en' and page.startDate != page.endDate -%}
                        <span style="margin-left: 15px;">To: <time datetime="{{ page.endDate }}">{{ page.endDate | date: "%B %d, %Y" }}</time></span>
                    {%- endif -%}
                    {%- if page.lang == 'ar' -%}
                        <span style="margin-right: 15px;">إلى: <time datetime="{{ page.endDate }}">{{ page.endDate | date: "%d / %m / %Y" }}</time></span>
                    {%- endif -%}
                {%- endif -%}
            </p>

            <p class="fw-lighter">
                {{ page.description }}
            </p>
            {%- if page.image -%}
                {%- for static_file in site.static_files -%}
                    {%- if static_file.path contains page.image -%}
                        <img src="{{ static_file.path }}" class="img-fluid mb-3" alt="{{ page.title }} - {{ site.countries['ma'][page.lang] }} - {{ page.startDate | date: '%Y' }}">
                    {%- endif -%}
                {%- endfor -%}
            {%- else -%}
                {%- for static_file in site.static_files -%}
                    {% assign imgPath = page.slug | append: '.'  | append: page.lang | append: '.webp' %}
                    {%- if static_file.path contains imgPath -%}
                        {%- capture imgTag -%}
                            <img src="{{ static_file.path }}" class="img-fluid mb-3" alt="{{ page.title }} - {{ site.countries['ma'][page.lang] }} - {{ page.startDate | date: '%Y' }}">
                        {%- endcapture -%}
                    {%- endif -%}
                {%- endfor -%}

                {%- if imgTag -%}
                    {{- imgTag -}}
                {%- else -%}
                    {%- for static_file in site.static_files -%}
                        {% assign imgPath = page.slug | append: '.webp' %}
                        {%- if static_file.path contains imgPath -%}
                            <img src="{{ static_file.path }}" class="img-fluid mb-3" alt="{{ page.title }} - {{ site.countries['ma'][page.lang] }} - {{ page.startDate | date: '%Y' }}">
                        {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}
            {%- endif -%}

            {{ content }}
        </div>
    </div>
</div>
